In [21]:
import pandas as pd
import glob
import os

In [22]:
# Set generic path to CSVs for data validation
path = os.path.join('..','Resources','*.csv')

In [23]:
# Create list of all CSVs in path
files_list = []

for fname in glob.glob(path):
    files_list.append(fname)

files_list

['../Resources/player_stats.csv',
 '../Resources/teams.csv',
 '../Resources/salary.csv',
 '../Resources/players.csv',
 '../Resources/games.csv',
 '../Resources/nba_draft_combine_all_years.csv']

In [24]:
# Select CSV to validate here: value 0 - len(files_list)
csv_no = 3

In [25]:
# Set DF for validation
messy_data = pd.read_csv(files_list[csv_no])

In [26]:
# Normalize headers to lowercase
messy_data.columns = messy_data.columns.str.strip()\
    .str.lower()\
    .str.replace(' ', '_')\
    .str.replace('(', '')\
    .str.replace(')', '')

In [27]:
# flag all duplicate rows
duplicates_df = messy_data[messy_data.duplicated(keep = False)]
duplicates_df

Empty DataFrame
Columns: [player_name, team_id, player_id, season]
Index: []

In [28]:
# Show headder to compare to dtypes below
messy_data.head()

        player_name     team_id  player_id  season
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019
3  Donovan Mitchell  1610612762    1628378    2019
4       Mike Conley  1610612762     201144    2019

In [29]:
# Check if datatypes are normalized
messy_data.dtypes

player_name    object
team_id         int64
player_id       int64
season          int64
dtype: object

In [30]:
# for '../Resources/games.csv' (index item 4), we cast the 'date' variable as a datetime
if csv_no == 4:
    messy_data.game_date_est = pd.to_datetime(messy_data.game_date_est)

messy_data.dtypes

player_name    object
team_id         int64
player_id       int64
season          int64
dtype: object

In [31]:
# Export csv once clean
for i in files_list:
    clean_data_df = pd.read_csv(i)
    clean_data_df.columns = clean_data_df.columns.str.strip()\
    .str.lower()\
    .str.replace(' ', '_')\
    .str.replace('(', '')\
    .str.replace(')', '')
    clean_data_df.to_csv(f"{files_list[files_list.index(i)].replace('Resources', 'Validated_Data').replace('.csv', '_val.csv')}", index = False)