In [159]:
import pandas as pd
import glob
import os

In [160]:
# Set generic path to CSVs for data validation
path = os.path.join('..','Resources','*.csv')

In [161]:
# Create list of all CSVs in path
files_list = []

for fname in glob.glob(path):
    files_list.append(fname)

files_list

['../Resources/player_stats.csv',
 '../Resources/teams.csv',
 '../Resources/player_salary.csv',
 '../Resources/players.csv',
 '../Resources/games.csv',
 '../Resources/nba_draft_combine_all_years.csv']

In [162]:
# Select CSV to validate here: value 0 - len(files_list)
csv_no = 5

In [163]:
# Set DF for validation
messy_data = pd.read_csv(files_list[csv_no])

In [164]:
# Normalize headers to lowercase
messy_data.columns = messy_data.columns.str.strip()\
    .str.lower()\
    .str.replace(' ', '_')\
    .str.replace('(', '')\
    .str.replace(')', '')

In [165]:
# flag all duplicate rows
duplicates_df = messy_data[messy_data.duplicated(keep = False)]
duplicates_df

Empty DataFrame
Columns: [unnamed:_0, player, year, draft_pick, height_no_shoes, height_with_shoes, wingspan, standing_reach, vertical_max, vertical_max_reach, vertical_no_step, vertical_no_step_reach, weight, body_fat, hand_length, hand_width, bench, agility, sprint]
Index: []

In [166]:
# Show headder to compare to dtypes below
messy_data.head()

,unnamed:_0,player,year,draft_pick,height_no_shoes,height_with_shoes,wingspan,standing_reach,vertical_max,vertical_max_reach,vertical_no_step,vertical_no_step_reach,weight,body_fat,hand_length,hand_width,bench,agility,sprint
0,0,Blake Griffin,2009,1.0,80.50,82.00,83.25,105.0,35.5,140.5,32.0,137.0,248.0,8.2,NaN,NaN,22.0,10.95,3.28
1,1,Terrence Williams,2009,11.0,77.00,78.25,81.00,103.5,37.0,140.5,30.5,134.0,213.0,5.1,NaN,NaN,9.0,11.15,3.18
2,2,Gerald Henderson,2009,12.0,76.00,77.00,82.25,102.5,35.0,137.5,31.5,134.0,215.0,4.4,NaN,NaN,8.0,11.17,3.14
3,3,Tyler Hansbrough,2009,13.0,80.25,81.50,83.50,106.0,34.0,140.0,27.5,133.5,234.0,8.5,NaN,NaN,18.0,11.12,3.27
4,4,Earl Clark,2009,14.0,80.50,82.25,86.50,109.5,33.0,142.5,28.5,138.0,228.0,5.2,NaN,NaN,5.0,11.17,3.35

In [167]:
# Check if datatypes are normalized
messy_data.dtypes

unnamed:_0                  int64
player                     object
year                        int64
draft_pick                float64
height_no_shoes           float64
height_with_shoes         float64
wingspan                  float64
standing_reach            float64
vertical_max              float64
vertical_max_reach        float64
vertical_no_step          float64
vertical_no_step_reach    float64
weight                    float64
body_fat                  float64
hand_length               float64
hand_width                float64
bench                     float64
agility                   float64
sprint                    float64
dtype: object

In [168]:
# for '../Resources/games.csv' (index item 4), we cast the 'date' variable as a datetime
if csv_no == 4:
    messy_data.game_date_est = pd.to_datetime(messy_data.game_date_est)

messy_data.dtypes

unnamed:_0                  int64
player                     object
year                        int64
draft_pick                float64
height_no_shoes           float64
height_with_shoes         float64
wingspan                  float64
standing_reach            float64
vertical_max              float64
vertical_max_reach        float64
vertical_no_step          float64
vertical_no_step_reach    float64
weight                    float64
body_fat                  float64
hand_length               float64
hand_width                float64
bench                     float64
agility                   float64
sprint                    float64
dtype: object

In [169]:
# Export csv once clean
clean_data_df = messy_data

clean_data_df.to_csv(f"{files_list[csv_no].replace('Resources', 'Validated_Data').replace('.csv', '_val.csv')}", index = False)