In [1]:
import numpy as np
import pandas as pd

# Import SQL Alchemy
from sqlalchemy import create_engine

# Get the username and password from config file
#from config import username, password

import requests
import os
import seaborn as sns
from psycopg2.extensions import register_adapter, AsIs

In [22]:
#Call in csv's as dataframes and drop unlabbeled columns
players = pd.read_csv("../outputs/a_players_cleaned.csv").drop(columns="Unnamed: 0")
games = pd.read_csv("../outputs/f_games_cleaned.csv")
combine = pd.read_csv("../outputs/e_combine_cleaned.csv").drop(columns="Unnamed: 0")
stats = pd.read_csv("../outputs/g_stats_cleaned.csv").drop(columns="Unnamed: 0")
teams = pd.read_csv("../outputs/b_teams_cleaned.csv").drop(columns="Unnamed: 0")
players_teams = pd.read_csv("../outputs/c_players_team_cleaned.csv").drop(columns="Unnamed: 0")
salaries = pd.read_csv("../outputs/d_salary_cleaned.csv").drop(columns="Unnamed: 0")
salaries

     player_id     team_id        player_name    salary  season
0       201939  1610612744      Stephen Curry  37457154    2018
1       101108  1610612745         Chris Paul  35654150    2018
2       201566  1610612760  Russell Westbrook  35654150    2018
3         2544  1610612747       LeBron James  35654150    2018
4       200768  1610612761         Kyle Lowry  32700000    2018
..         ...         ...                ...       ...     ...
440    1626780  1610612738    Jonathan Gibson     17092    2018
441    1628999  1610612748        Yante Maten     14211    2018
442    1629130  1610612748    Duncan Robinson      9474    2018
443    1629134  1610612744      Kendrick Nunn      4737    2018
444    1629033  1610612751        Theo Pinson      4737    2018

[445 rows x 5 columns]

In [23]:
# Establish Connection to neighborhood database
engine = create_engine('postgres://gvuvmkxy:Z62u_yZyL3sTjlr-XDy0eUcBrAy9ucOU@ziggy.db.elephantsql.com:5432/gvuvmkxy')
conn = engine.connect()

In [24]:
# Confirm tables
engine.table_names()

[]

In [25]:
players.to_sql(name='players', con=engine, if_exists='append', index=True)

In [26]:
engine.table_names()

['players']

In [29]:
games.to_sql(name='games', con=engine, if_exists='append', index=True)

In [30]:
combine.to_sql(name='combine', con=engine, if_exists='append', index=True)

In [31]:
stats.to_sql(name='stats', con=engine, if_exists='append', index=True)

In [32]:
teams.to_sql(name='teams', con=engine, if_exists='append', index=True)

In [33]:
players_teams.to_sql(name='players_teams', con=engine, if_exists='append', index=True)

In [34]:
salaries.to_sql(name='salaries', con=engine, if_exists='append', index=True)

In [35]:
engine.table_names()

['players', 'games', 'combine', 'stats', 'teams', 'players_teams', 'salaries']

      index  player_id       player_name
0         0    1626220     Royce O'Neale
1         1     202711  Bojan Bogdanovic
2         2     203497       Rudy Gobert
3         3    1628378  Donovan Mitchell
4         4     201144       Mike Conley
...     ...        ...               ...
1764   1764     201831       Lanny Smith
1765   1765     201999     Warren Carter
1766   1766     201834      Bennet Davis
1767   1767     201646    Brian Hamilton
1768   1768     500032   Wesley Matthews

[1769 rows x 3 columns]