In [1]:
#Import dependecies
import pandas as pd
import os

In [2]:
#Filepath to salary
filepath_1 = os.path.join("..","Validated_Data","salary_val.csv")

In [3]:
#Salary as df
salary_df = pd.read_csv(filepath_1)
salary_df

           player_name         salary
0        Stephen Curry  $37,457,154
1         LeBron James  $35,654,150
2           Chris Paul  $35,654,150
3    Russell Westbrook  $35,654,150
4           Kyle Lowry  $32,700,000
..                 ...            ...
464        Yante Maten      $14,211
465      Tarik Phillip       $9,474
466    Duncan Robinson       $9,474
467      Kendrick Nunn       $4,737
468        Theo Pinson       $4,737

[469 rows x 2 columns]

In [4]:
clean_salary_df = salary_df

In [5]:
#Removie "." for more player mathes
clean_salary_df['player_name'] = clean_salary_df['player_name'].str.replace('.','')
clean_salary_df["salary"] = clean_salary_df["salary"].str.replace("$", '').str.replace(",", '')
clean_salary_df['salary'] = clean_salary_df['salary'].astype(int)
clean_salary_df.dtypes

player_name    object
salary          int64
dtype: object

In [6]:
#Filepath to players for playerID
filepath_2 = os.path.join("..","Validated_Data","players_val.csv")

In [7]:
player_df = pd.read_csv(filepath_2)

#Removie "." for more player mathes
player_df['player_name'] = player_df['player_name'].str.replace('.','')
player_df.dtypes

player_name    object
team_id         int64
player_id       int64
season          int64
dtype: object

In [8]:
#Clean players for players only in 2018 season
players = player_df.loc[player_df['season'] == 2018]

In [9]:
#Merge for Player_ID as priamry key
merge_salary_df = pd.merge(clean_salary_df, players, on="player_name", how = 'inner')

In [10]:
cleaned_salary_df = merge_salary_df.drop_duplicates(subset=['player_name'])

In [11]:
cleaned_salary_df = cleaned_salary_df[["player_id", "team_id", "player_name", "salary",  "season"]]

In [12]:
cleaned_salary_df.to_csv("../outputs/d_salary_cleaned.csv", index=True)