In [5]:
#Import dependecies
import pandas as pd 
import os

In [6]:
#Filepath to salary
filepath_1 = os.path.join("..","Validated_Data","player_salary_val.csv")

In [7]:
#Salary as df
salary_df = pd.read_csv(filepath_1)
salary_df

     unnamed:_0          player_name         salary
0             0        Stephen Curry  $40,231,758
1             1           Chris Paul  $38,506,482
2             2    Russell Westbrook  $38,506,482
3             3         James Harden  $38,199,000
4             4         Kevin Durant  $38,199,000
..          ...                  ...            ...
467         472       Marques Bolden      $50,752
468         473           Tyler Cook      $50,752
469         475  Sir'Dominic Pointer      $50,752
470         476          Paul Watson      $50,752
471         477           Donta Hall      $50,752

[472 rows x 3 columns]

In [8]:
clean_salary_df = salary_df

In [9]:
#Removie "." for more player mathes
clean_salary_df['player_name'] = clean_salary_df['player_name'].str.replace('.','')
clean_salary_df["salary"] = clean_salary_df["salary"].str.replace("$", '').str.replace(",", '')
clean_salary_df['salary'] = clean_salary_df['salary'].astype(int)
clean_salary_df.dtypes

unnamed:_0      int64
player_name    object
salary          int64
dtype: object

In [10]:
#Filepath to players for playerID
filepath_2 = os.path.join("..","Validated_Data","players_val.csv")

In [11]:
player_df = pd.read_csv(filepath_2)

#Removie "." for more player mathes
player_df['player_name'] = player_df['player_name'].str.replace('.','')
player_df.dtypes

player_name    object
team_id         int64
player_id       int64
season          int64
dtype: object

In [12]:
#Clean players for players only in 2018 season
players = player_df.loc[player_df['season'] == 2018]

In [13]:
#Merge for Player_ID as priamry key
merge_salary_df = pd.merge(clean_salary_df, players, on="player_name", how = 'inner')

In [14]:
cleaned_salary_df = merge_salary_df.drop_duplicates(subset=['player_name'])

In [15]:
cleaned_salary_df = cleaned_salary_df[["player_id", "team_id", "player_name", "salary",  "season"]]

In [16]:
cleaned_salary_df.to_csv("../outputs/salary_clean.csv", index=False)