In [2]:
#Import dependencies
import pandas as pd
import os

In [4]:
#Open file as df
filepath = os.path.join('..', 'Validated_Data', 'teams_val.csv')

messy_teams_df = pd.read_csv(filepath)

messy_teams_df.head()

,league_id,team_id,min_year,max_year,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [5]:
#List headers
list(messy_teams_df)

['league_id',
 'team_id',
 'min_year',
 'max_year',
 'abbreviation',
 'nickname',
 'yearfounded',
 'city',
 'arena',
 'arenacapacity',
 'owner',
 'generalmanager',
 'headcoach',
 'dleagueaffiliation']

In [6]:
#Remove headers not needed
clean_teams_df = messy_teams_df.drop(['league_id', 'min_year', 'max_year', 'yearfounded', 'arenacapacity', 'owner', 'generalmanager', 'headcoach', 'dleagueaffiliation'], axis = 1)

In [7]:
#Export df to csv in outputs file
clean_teams_df.to_csv('../outputs/teams_cleaned.csv', index = False)