In [67]:
import pandas as pd
import os

In [68]:
path = os.path.join('..', 'Validated_Data', 'players_val.csv')

In [69]:
players_df = pd.read_csv(path)

In [70]:
players_df

           player_name     team_id  player_id  season
0        Royce O'Neale  1610612762    1626220    2019
1     Bojan Bogdanovic  1610612762     202711    2019
2          Rudy Gobert  1610612762     203497    2019
3     Donovan Mitchell  1610612762    1628378    2019
4          Mike Conley  1610612762     201144    2019
...                ...         ...        ...     ...
7223       Lanny Smith  1610612758     201831    2009
7224     Warren Carter  1610612752     201999    2009
7225      Bennet Davis  1610612751     201834    2009
7226    Brian Hamilton  1610612751     201646    2009
7227   Wesley Matthews  1610612762     500032    2009

[7228 rows x 4 columns]

In [71]:
players_df = players_df.drop_duplicates(subset=['player_id'])
players_df = players_df.reset_index()
players_df = players_df.drop(['team_id', 'season', 'index'], axis = 1)
players_df = players_df[['player_id', 'player_name']]

In [72]:
players_df.head()

   player_id       player_name
0    1626220     Royce O'Neale
1     202711  Bojan Bogdanovic
2     203497       Rudy Gobert
3    1628378  Donovan Mitchell
4     201144       Mike Conley

In [73]:
players_df.to_csv('../outputs/a_players_cleaned.csv', index = False)